image: "harbor.shopeemobile.com/shopee/golang-base:1.23.9-24"

stages:
  - build

before_script:
  - go mod download

build:
  stage: build
  script:
    - go build ./...
    - golangci-lint run ./...
